@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #5b2e16;
}

body {
  background: url('/paper.jpg') repeat;
}

h1 {
  font-size: 2.2rem; /* Default size for small screens */
  /* font-style: italic; */
  font-weight: 400;
  letter-spacing: -0.04em;
  font-variant-caps: small-caps;
  font-family: var(--font-cormorant);

  
  @screen md {
    font-size: 2.5rem; /* Medium screens */
  }
  
  @screen lg {
    font-size: 2.8rem; /* Large screens */
  }
}


p {
  font-size: 14px; /* Default size for small screens */
  font-weight: 400;
  line-height: 1.35;
  font-family: var(--font-raleway);

   
  @screen lg {
    font-size: 14px; /* Large screens */
  }

  @screen 2xl {
    font-size: 16px; /* Large screens */
  }
}

a {
  color: #5a321e;
}